body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* main styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

.main__content {
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

/* about styles */

.about {
  margin-bottom: 40px;
}

.about__position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.about__name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

/* project styles */

.projects {
  margin-bottom: 50px;

  /* margin: 100px 90px 300px 60px;
    margin: 50px;
    margin: 100px 50px; */
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.projects__ist {
  padding: 0;
  margin-left: 15px;
}

.projects__item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project,
.project__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project__link {
  margin-left: 10px;
}

.project__link:hover,
.project__link:focus {
    color: #fb6d3a;;
}

.project__bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* work styles */

.work {
  margin-bottom: 50px;

  /* padding: 100px 40px 50px 20px;
    padding: 50px;
    padding: 50px 100px; */
}

.work__position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.work__organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.work__period, .education__period{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.work__line, .education__line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work__list {
  padding: 0;
  margin-left: 15px;
}

.work__list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* education */


.education__PTU {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.education__faculty {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

/* sidebar styles */

.sidebar {
  background-color: #000;
  padding-top: 20px;
  width: 370px;
}

.photo {
  width: 370px;
  margin-bottom: 50px;
}

.contacts,
.tech-skills,
.soft-skills {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.sidebar__title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contacts__type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  color: #ffffff;

  margin-right: 5px;
}

.contacts__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: #aab7ca;
}

.contacts__link:hover,
.contacts__link:focus {
    color: #fb6d3a;;
}

.tech-skills__list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

.tech-skills__item {
  color: #fb6d3a;
}

.tech-skills__text {
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.soft-skills__list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

.soft-skills__item {
  color: #fb6d3a;
}

.soft-skills__text {
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
